*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --global-orange: #ffd111;
    --button-color: #c63e37;
    --button-color-dark: #972d27;
}

body {
    margin: 0;
    font-family: 'Boogaloo', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/img/9_intro_outro_screens/start/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

.header-container {
    position: relative;
}

h1 {
    font-size: 4.25rem;
    margin: 20px;
    color: black;
}

h2 {
    font-size: 4.25rem;
    margin: 20px;
}

.second-header {
    position: absolute;
    top: -1px;
    left: -2px;
    width: 100%;
}

.gradient-text {
    background: linear-gradient(to bottom, #ffd111, #d58000);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.game-container {
    position: relative;
    max-width: 100%;
}

/* Start Screen -------------- */
.start-screen {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.start-screen img, #endScreenContainer img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.start-btn {
    position: absolute;
    top: 20px;
    width: 180px;
    height: 70px;
}

.starter {
    position: absolute;
    bottom: 20px;
}

.button {
    display: inline-block;
    margin: 0px 8px;
    padding: 10px 16px;
    font-family: 'Boogaloo', sans-serif;
    font-size: 3rem;
    color: var(--global-orange);
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 7px;
    background-color: var(--button-color);
    box-shadow: 6px 6px 0 var(--button-color-dark);
    letter-spacing: 2px;
}

.button:active {
    transform: translateX(2px) translateY(2px);
    box-shadow: 4px 4px 0 var(--button-color-dark);
}

/* End Screen -------------- */
#endScreenContainer {
    position: absolute;
    height: 100%;
    width: 100%;
}

.d-none {
    display: none;
}

.action-btn {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 20px;
    z-index: 2;
    width: 100%;
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes beatFade {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0.8;
    }
}

.delayed-btn::before {
    content: attr(data-text);
    animation-name: beatFade;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-delay: 1.2s;
    display: inline-block;
    transform-origin: left;
    font-style: italic;
}

.delayed-btn {
    animation-name: zoomIn;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 0s;
    display: none;
    transform-origin: right;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    border-radius: 16px;
    z-index: 1;
}

/* Menu -------------- */
.info-bar {
    position: absolute;
    bottom: 13px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

#toggleGame, #enterFullscreen {
    display: none;
}

svg {
    cursor: pointer;
    width: 36px;
    height: 36px;
    padding: 4px;
    margin-left: 10px;
    border-radius: 7px;
    background-color: var(--button-color);
    box-shadow: 4px 4px 0 var(--button-color-dark);
}

svg:active {
    transform: translateX(1px) translateY(1px);
    box-shadow: 3px 3px 0 var(--button-color-dark);
}

.controll-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    font-size: 1.6rem;
    cursor: pointer;
    text-transform: uppercase;
    background-color: var(--button-color);
    box-shadow: 4px 4px 10px var(--button-color-dark);
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    padding: 10px 60px;
    opacity: 0.9;
    z-index: 2;
}

.controll-container-elem {
    margin: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.controll-container-elem:nth-child(odd) {
    color: var(--global-orange);
}

.controll-container-elem:nth-child(even) {
    color: rgb(230, 230, 230);
}


/* Canvas -------------- */
canvas {
    background-color: black;
    display: block;
    border-radius: 16px;
    height: 100%;
    width: 100%;
}

/* Footer -------------- */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Smartphones -------------- */
@media only screen and (max-width: 720px) {
    .game-container {
        margin-top: 120px;
    }

    .header-container {
        display: none;
    }

    canvas, .game-container {
        width: 100%;
    }
}

/* Smartphones -------------- */
@media only screen and (max-height: 480px) {
    canvas, .game-container {
        height: 100vh;
    }
}


#rotateMessage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(45deg, #FFD700, #FF6347);
    padding: 10px 30px;
    border-radius: 16px;
    font-size: 20px;
    white-space: nowrap;
    letter-spacing: 1px;
}

@media only screen and (orientation: portrait) and (max-width: 600px) {
    #rotateMessageContainer {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 999;
        background-color: rgba(0, 0, 0, 0.5);
    }
}